---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 200
IndentWidth: 2
TabWidth: 2
UseTab: Never
AllowShortIfStatementsOnASingleLine: False
PointerAlignment: Right
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: False